.btn-color {
    background-color: $oscuromedio;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0;

    a {
        background-color: $oscuro;
        color: $white;

        :hover {
            background-color: $oscuro;
            color: $white;
        }
    }




}