body {
    background-color: $white;
    font-family: $roboto;
    font-size: $medium;
}


@keyframes foto {
    0% { opacity: 0; }
    30% { opacity: .2;}
    60% { opacity: .5;}
    100% { opacity: 1; }
}