body {
    color: $mangogris;
    font-family: $roboto;
    font-size: $medium;
}

h1, h2, h3, h4, h5, h6 {
    color: $koamaru;
    font-family: $raleway;
}


@keyframes foto {
    0% { opacity: 0; }
    30% { opacity: .2;}
    60% { opacity: .5;}
    100% { opacity: 1; }
}