.contacto {
    @include pagina;
    width: 50%;

    @media (max-width: 768px) {
        width: 80%;
    }

}

.contacto__texto {
    padding-bottom: 2rem;
}

input, textarea {
    border: 2px solid $oscuromedio;
}

label {
    margin-top: 1rem;
    margin-bottom: 0 !important;
}