.contacto {
    @include pagina;
    width: 50%;

    h2 {
        text-align: center;
        padding-bottom: 2rem;
    }

    @media (max-width: 768px) {
        width: 80%;
    }

}

input, textarea {
    border: 2px solid $oscuromedio;
}

label {
    margin-top: 1rem;
    margin-bottom: 0 !important;
}