.contacto {
    @include pagina;
    width: 400px;

    h2 {
        text-align: center;
        padding-bottom: 2rem;
    }

}

input, textarea {
    width: 350px;
    border: 2px solid $oscuromedio;
}

label {
    margin-top: 1rem;
    margin-bottom: 0 !important;
}