.desarrolloweb {
    padding-top: 4rem 0;
    text-align: left;

}

.desarrolloweb__titulo {
    padding: 2rem 0;
}

@media (min-width: 992px) {
    .card-body {
        padding-left: 3rem;
    }
}


