.desarrolloweb {
    @include pagina;
    text-align: left;

}

.desarrolloweb__titulo {
    padding-bottom: 2rem;
}

.desarrolloweb__img {
    height: 190px; 
}

.desarrolloweb__sombra {
    @include sombra;
}





