.musico {
    @include pagina;
}

.musico__texto {
    padding-bottom: 2rem;
}


.modal-sm {

    @media (max-width: 576px) {        
        .modal-sm {
            position: relative;
            padding-bottom: 56.2%;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: auto;
          }
    }
}
