.section {
    text-align: center;
    h2 {
        padding-bottom: 2rem;
    }
}

.section__tarjeta {
    text-align: center;
    padding-bottom: 1rem;
}

.seccion__titulo {
    padding-bottom: .5rem;
}
.section__svg {
    height: 133px;
}

svg {
    width: 40%;
    fill: $claromedio;
}

@media (max-width: 768px) {
    .section__tarjeta {
        padding-bottom: 1rem 0;
    }
}

